boby{
	margin: 0;
}
.mainDiv{
	
	width: 90%;
	margin: 30px auto;
 
}
.hiii{
	height: 550px;
	width:99%;
	background-color: pink;
	background-image: url(../images/b.png);
	padding: calc(100px - 3px);

}
.mainDiv p{
	color: white;
	font-size: 40px;

}
.s-1{
	width: 50%;
	color: white;
	float: left;

}
.s-1 b{
	font-size: 10px;
}
.button{
	background: #05d1f5;
	display: inline-block;
	padding: 5px;
	border-radius: 10px;
	color: white;
	font-size: 5px;
	float: left;

}
.s-2{
	float: right;
}
.key{
	text-align: center;
	padding-top: 40px;
	font-size: 30px;
}
.b{
	font-size: 10px;
}
.fp{
	width: 80%;
	margin: 0 auto;
	*/border: 1px solid green;
	height: 400px;
}
.sub-1{
	width: 50%;
	padding-left: 130px;
	float: left;
}
.sub-2{
	width: 50%;
	*/border: 1px solid green;

	*/background: #05d1f5;
	*/padding: 20px;
	float: right;
	height: 350px;
	padding-top: 10px;



}
.su-1{
	*/border: 1px solid red;
	height: 175px;
}
.su-2{
	*/border: 1px solid violet;
	height: 175px;
}
.d-1{
    width: 49%;
    height: 170px;
    background-image: url(../images/d.png);
    */border: 1px solid green;
    */background-color: pink;
    float: left;
    padding: 30px 30px 30px 65px;
    color: white;
    
}
.d-2{
	width: 49%;
	height: 170px;
	background-image: url(../images/Ts.png);
	float: right;
    padding: 30px 30px 30px 68px;
    color: white;
     
}
.d-2 b{
	padding-left: 10px;
}
.d-3{
	width: 49%;
    height: 170px;
    background-image: url(../images/de.png);
   */ border: 1px solid green;
    */background-color: pink;
    float: left;
    margin-top: 5px;
    padding: 30px 30px 30px 65px;
    color: white;
}
.d-3 b{
	padding-left: 10px;
}
.Dd-4{
	width: 49%;
	height: 170px;
	background-image: url(../images/rg.png);
	float: right;
    padding: 30px 30px 30px 65px;
    color: white;
    margin-top: 5px;
     
}
.Dd-4 img{
	padding-left: 10px;
}
.dv{
	width: 70%;
	float: left;
}
.data{
	height: 600px;
	width:99%;
	background-color: pink;
	background-image: url(../images/b.png);
	padding: calc(100px - 3px);
	color: white;

}
.data img{
	height: 400px;
}
.GS{
	width: 30%;
	float: right;
}
.GS p{
	font-size: 10px;
	padding-left: 30px;
}
.it-so{
	*/border: 1px solid red;
	height: 400px;
}
.IT{
	width: 50%;
	float: left;
	padding: 100px;
	color: black;


}
.IT h2{
	color: #17cbe3;
}
.IT b{
	font-size: 12px;
}
.LM{
	background: #17cbe3;
	display: inline-block;
	border-radius: 20px;
	padding: 10px;
	color: white;
	letter-spacing: 2px;
	padding: 10px;
}
.LT{
	width: 50%;
	float: right;

}
.DE-AI{
	padding: 50px;
	background-image: url(../images/b.png);
	height: 900px;
	*/background-image: url(../images/Dea.png);
}
.DE-AI img{
	height: 400px;
	width: 100%;
}
.dea-1{
	height: 400px;
	width: 100%;
	margin-left: 2px;
}
.IT-SOLU{
	*/border: 1px solid red;
	height: 400px;
}
.IT-P{
	width: 50%;
	float: left;
	padding-left: 100px;

}
.solu{
	width: 50%;
	float: right;
	padding: 100px;
	color: black;
}
.solu h2{
	color: #17cbe3;
}
.solu b{
	font-size: 12px;
}
.w{
	background: #a709db;
	height: 400px;
	margin-left: 200px;
	
	*/padding-right: 20px;
	*/margin-right: 20px;
	
}
.web{	
	height: 950px;
	width:99%;
	background-color: pink;
	background-image: url(../images/b.png);
	padding: calc(100px - 3px);
}
.web img{
	height: 600px;

}
.w-2{
	*/height: 600px;
	*/height: 400px;
	*/width: 100%;
	*/margin-left: 2px;
}
.w-2 img{
	height: 200px;
	padding-left: 40px;
}
.wep{
	height: 400px;
	*/border: 1px solid red;
}
.w-s1{
	width: 50%;
	padding: 60px;
	padding-left: 150px;
	float: left;
}
.w-s2{
	width: 50%;
	float: right;
	padding: 60px;


}
.get{
	height: 500px;
	width:99%;
	background-color: pink;
	background-image: url(../images/b.png);
	padding: calc(100px - 3px);
	text-align: center;
	color: white;
	padding-top: 50px;

}
.get p{
	font-size: 15px;
}
.g-s{
	*/border: 1px solid red;
	height: 200px;
	width: 80%;
	*/margin-left: 100px;
	margin: 0 auto;
	padding-top: 20px;
	color: black;

}
.g-s1{
	*/border: 1px solid green;
	height: 200px;
	width: 30%;
	float: left;
	margin-left: 20px;
	background-color: white;
}
.g-s2{
	*/border: 1px solid red;
	height: 200px;
	width: 30%;
	float: left;
	margin-left: 20px;
	background-color: white;
}
.g-s3{
	*/border: 1px solid red;
	height: 200px;
	width: 30%;
	float: left;
	margin-left: 20px;
	background-color: white;
}
.g-s img{
	padding-top: 15px;
}
.g-b{
	font-size: 10px;
}




	 